<div class="container">

    <div class="row">
        <div class="col-lg-12 text-left">
            <h1>Voeg een nieuw product toe: </h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12 text-left">
            <form>
                <div class="form-group">
                    <label for="itemInput">Naam</label>
                    <input type="text" class="form-control" id="itemInput" placeholder="naam ..." ng-model="newItem.name">
                </div>
                <div class="form-group">
                    <label for="itemInput">Prijs</label>
                    <input type="text" class="form-control" id="itemInput" placeholder="prijs ..." ng-model="newItem.price">
                </div>
                <div class="form-group">
                    <label for="itemInput">Omschrijving</label>
                    <input type="text" class="form-control" id="itemInput" placeholder="omschrijving ..." ng-model="newItem.description">
                </div>
                <div class="form-group">
                    <label for="itemInput">Afbeelding</label>
                    <input type="text" class="form-control" id="itemInput" placeholder="afbeelding ..." ng-model="newItem.image">
                </div>

                <button type="button" class="btn btn-danger">Reset</button>
                <button type="submit" class="btn btn-primary" ng-click="saveNewItem()">Save</button>
            </form>
        </div>
    </div>

</div>
