<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="shopApp" ng-controller="shopController">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Webshop Sebastiaan</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
   <div class="container">
      <!--   <div class="row" ng-app="winkelwagen" ng-controller="winkelwagenController">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Productid</th>
                        <th>Naam</th>
                        <th>Prijs</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="winkelitem in winkelitems">
                        <td>
                            {{winkelitem.id}}

                        </td>
                        <td>
                            {{winkelitem.productid}}
                        </td>
                        <td>
                            {{winkelitem.productnaam}}


                        </td>
                        <td>
                            {{winkelitem.price}}

                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="deleteWinkelItem(winkelitem)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        <div class="row">
            <div class="col-lg-12 text-left">
                <h1>Bestel uw product: </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <div id="products" class="row list-group">
                    <div class="item  col-xs-4 col-lg-4" ng-repeat="item in items">
                        <div class="thumbnail">
                            <img class="group list-group-image" ng-src="{{item.image}}" alt="" />
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">
          {{item.name}}
</h4>
                                <p class="group inner list-group-item-text">{{item.description}}
                                </p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <p class="lead">
                                            {{item.price | currency}}
                                        </p>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- AngularJS-->
    <script src="js/angular.min.js"></script>

    <!-- Functionaliteiten app-->
    <script type="text/javascript" src="js/app.js"></script>

    <script type="text/javascript" src="js/winkelwagen.js"></script>


    <!-- Lokale eenheden -->
    <script src="js\angular-locale_nl-nl.js"></script>


</body>

</html>
