    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-left">
                <h1>Lijst klanten: </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">
              <a class="btn btn-primary" href="#addKlant" role="button">Voeg nieuwe klant toe</a>
            </div>
        </div>
        <!-- /.row -->
        <div class="row" >
            <div class="col-lg-12 text-left">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Naam</th>
                            <th>Adres</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="klantItem in klanten track by $index">
                            <td>
                                {{klantItem.id}}

                            </td>
                            <td>
                                <span ng-hide="klantItem.updating">{{klantItem.name}}</span>
                                <input type="text" ng-model="klantItem.name" ng-show="klantItem.updating">

                            </td>
                            <td>
                                <span ng-hide="klantItem.updating">{{klantItem.adres}}</span>
                                <input type="text" ng-model="klantItem.adres" ng-show="klantItem.updating">

                            </td>
                            <td>
                                <span ng-hide="klantItem.updating">{{klantItem.email}}</span>
                                <textarea type="text" ng-model="klantItem.email" ng-show="klantItem.updating"></textarea>

                            </td>
                            <td>
                                <button type="button" class="btn btn-success" ng-click="updateKlant(klantItem)" ng-show="klantItem.updating">Save</button>
                                <button type="button" class="btn btn-warning" ng-click="klantItem.updating=true;" ng-hide="klantItem.updating">Update</button>
                                <button type="button" class="btn btn-danger" ng-click="deleteKlant(klantItem)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
